[submodule "audio/--forcen"]
	path = audio/--forcen
	url = https://github.com/roc-streaming/roc-toolkit.git
[submodule "audio/--force"]
	path = audio/--force
	url = https://github.com/roc-streaming/roc-toolkit.git
[submodule "audio/roc-toolkit"]
	path = audio/roc-toolkit
	url = https://github.com/roc-streaming/roc-toolkit.git
[submodule "audio/signal-estimator"]
	path = audio/signal-estimator
	url = https://github.com/gavv/signal-estimator.git
[submodule "audio/rtaudio"]
	path = audio/rtaudio
	url = https://github.com/thestk/rtaudio.git
